/*UserDashboard Styling*/
#user-dashboard{
    padding: 2em 2em 2em 2em;
}
/* UserSideBar Styling*/
#user-side-bar{
    padding: 0;
    height: 760;
}

/*UserCalendar Styling*/
#user-calendar{
    background-color: #F3F3F3;
}

#user-calendar h1{
    text-align: center;
    color: white;
    background-color: #3f51b5;
    position: relative;
}

#user-calendar .calendar.picker{
    height: 400px;
    width: 400px;
}

/*UserAgenda Styling*/
#user-agenda{
    background-color: #F3F3F3;
}

#user-agenda h2{
    color: white;
    background-color: #3f51b5;
    position: relative;
    margin-top: 0.5em;
}

#user-agenda .sub.header{
    color: white;
}

#user-agenda .list{
    padding: 0em 2em 0em 2em;
}


#user-agenda .button.deleteTask{
    min-width: 40px;
    border-radius: 500rem;
    padding: 1em 1em;
    background-color: white;
    color: #3f51b5;
}

#user-agenda .button.deleteTask:hover{
    background-color: #DE00AE;
    color: white;
}

#user-calendar .button.deleteTask{
    min-width: 40px;
    border-radius: 500rem;
    padding: 1em 1em;
    background-color: white;
    color: #3f51b5;
}

#user-calendar .button.deleteTask:hover{
    background-color: #DE00AE;
    color: white;
}

#user-agenda .button {
    min-width: 120px;
    border-radius: 500rem;
    padding: 1em 1.5em;
    background-color: white;
    color: #3f51b5;
}

  #user-agenda .button:hover {
    background-color: #3f51b5;
    color: white;
  }

#add-list-item {
    position: relative;
    height: 100px;
}
#add-list-item .textfield.list-input {
    position: relative;
    width: 75%;
    height: 25px;
    padding-right: 60px;
}

#add-list-item .button:hover {
    color: #3f51b5;
}

#add-list-item .list-button {
    position: absolute;
    width: 50px;
    height: 25px;
    top: 20px;
    right: -1px;
    text-align: center;
    box-shadow: none;
    background-color: transparent;
}

.delete-item-button {
    box-shadow: none;
    background-color: transparent !important;
}

#task-submit {
    float: right;
}

.listitems-header {
    align-items: center;
}


