/*UserDashboard Styling*/
#user-dashboard{
    padding: 2em 2em 2em 2em;
}

/*UserCalendar Styling*/
#user-calendar{
    background-color: #F3F3F3;
}

#user-calendar h1{
    text-align: center;
    color: white;
    background-color: #3f51b5;
    position: relative;
}

#user-calendar .calendar.picker{
    height: 400px;
    width: 400px;
}

/*UserAgenda Styling*/
#user-agenda{
    background-color: #F3F3F3;
}

#user-agenda h2{
    color: white;
    background-color: #3f51b5;
    position: relative;
    margin-top: 0.5em;
}

#user-agenda .sub.header{
    color: white;
}

#user-agenda .list{
    padding: 0em 2em 0em 2em;
}

#user-agenda .button {
    min-width: 120px;
    border-radius: 500rem;
    padding: 1em 1.5em;
    background-color: white;
    color: #3f51b5;
}
  #user-agenda .button:hover {
    background-color: #3f51b5;
    color: white;
  }
  