#headers {
    font-size: x-large;
    text-align: center;
    padding: 15px;
}

.cardStyle {
    font-family: 'Roboto';
    padding: 25px;
    margin: 25px;
    text-align: left;
}

.formStyle {
    font-family: 'Roboto';
    padding: 10px;
    margin: 10px;
    text-align: left;
}

.muiButtons {
    float: right;
    position: relative;
}

.settingsFont {
    font-size: medium;
    text-align: center;
    color: #484F52;
}